@import '~bootstrap/scss/functions',
  '~colby-scss/variables',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins';

.container {
  display: flex;

  @include make-row;
}

.cardContainer {
  @include make-row;

  .club {
    @include make-col(12);

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      @include make-col(6);
      transform: scale(.98);
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      @include make-col(4);
      transform: scale(.95);
    }

    .clubInner {
      border: 1px solid rgba($black, .15);
      padding: 1.5rem;
      height: 100%;
      width: 100%;
      background: transparent;

      p,
      dl {
        font-size: .944rem;
      }
    }

    &:nth-of-type(odd) {
      .clubInner {
        background: transparent;
      }
    }
  }
}

.category-pane {
  padding-top: .75rem;
  padding-bottom: .75rem;

  @include make-col-ready;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    @include make-col(3);
    padding-right: 1.5rem;
  }
}

.categories-title {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

.page-pane {
  padding-top: 1.5rem;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    @include make-col(9);
    padding-left: 1.5rem;
  }
}

.page--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 4rem;
}

.category {
  flex-wrap: wrap;
  margin-bottom: .125rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  width: 100%;
  background-color: rgba($blue, .8);
  text-transform: uppercase;
  white-space: normal;
  font-size: .891rem;
  cursor: pointer;
  color: white;
  border: none;
}

.category--active {
  background-color: $blue;
}

.club-name {
  font-weight: 600;
  font-size: 1.19rem;
}

.club {
  .clubInner {
    padding: 1.5rem;
    height: 100%;
    width: 100%;
    background: rgba($black, .045);
  }

  &:nth-of-type(odd) {
    .clubInner {
      background: rgba($black, .075);
    }
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 4rem;
}
